/*НАЧАЛО ОБЩИХ СТИЛЕЙ */
:root {
    --black: #240532;
    --dark: #665070;
    --light: #918299;
    --white: #FFFFFF;
    --bg: #F9F7F8;
    --accent: #D6FF3F;
    --grey: #626286;
    --border: #827089;
}

body {
    font-family: 'Winston', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg);
    font-size: 14px;
}

.ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.display-none {
    display: none;
}

.scroll {
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
}

.wrapper {
    padding: 0 10px;
}

.img {

    img,
    svg {
        width: 100%;
        height: 100%;
    }

    &--contain {

        img,
        svg {
            object-fit: contain;
        }
    }

    &--cover {

        img,
        svg {
            object-fit: cover;
        }
    }
}

.not-scroll {
    overflow-y: hidden;
}

.btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background-color: var(--accent);
    border: 1px solid var(--border);
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid transparent;
    }
}

.text {
    line-height: 19px;

    &--light {
        color: var(--dark);
        opacity: 0.8;
    }
}

.section {
    margin-top: 40px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
}

/*НАЧАЛО СТИЛЕЙ ФУТЕРА*/
/*КОНЕЦ СТИЛЕЙ ФУТЕРА*/

/*КОНЕЦ ОБЩИХ СТИЛЕЙ */

/*НАЧАЛО ОБЩИХ СТИЛЕЙ ПЛАНШЕТ*/
@media(min-width: 640px) {
    .wrapper {
        padding: 0 20px;
    }

    .section {
        margin-top: 80px;
    }

    .title {
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 26px;
        line-height: 29px;
    }
}

/*КОНЕЦ ОБЩИХ СТИЛЕЙ ПЛАНШЕТ*/

/*НАЧАЛО ОБЩИХ СТИЛЕЙ ДЕСКТОП*/
@media(min-width: 1600px) {
    body {
        font-size: 16px;
    }

    .wrapper {
        padding: 0;
        max-width: 1520px;
        margin: 0 auto;
    }

    .section__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .section__title {
        grid-column: span 1;
    }

    .section__content {
        grid-column: span 3;
    }

    .subtitle {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 20px;
    }
}

/*КОНЕЦ ОБЩИХ СТИЛЕЙ ДЕСКТОП*/