.about__wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 29px;
}

.about__item {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    border-top: 1px solid var(--light);
    gap: 5px;
}

.about__value {
    font-family: "Vasek";
    font-size: 30px;
    line-height: 33px;
}

.about__desc {
    font-size: 12px;
    line-height: 17px;
    color: var(--dark);
}

@media(min-width: 640px) {
    .about {
        margin-top: 44px;
    }

    .about__wrapper {
        margin-top: 15px;
        grid-template-columns: repeat(3, 1fr);
        gap: 62px;
    }

    .about__value {
        font-size: 64px;
        line-height: 70px;
    }

    .about__desc {
        font-size: 14px;
        line-height: 20px;
    }
}

@media(min-width: 1600px) {
    .about__text {
        font-size: 18px;
    }

    .about__wrapper {
        margin-top: 20px;
        grid-template-columns: repeat(3, 365px);
        gap: 20px;
    }

    .about__item {
        padding-top: 20px;
    }
}