.hero__title {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;

    span {
        color: var(--grey);
    }
}

.hero__text {
    margin-top: 10px;
    color: var(--dark);
    font-weight: 500;
}

.hero__img {
    width: 100%;
    height: 210px;
    border-radius: 50px 50px 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__btns {
    position: relative;
    height: 15px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 98%;
        background-color: var(--light);
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 85px;
        height: 15px;
        background-image: url(../../img/icons/shine-black.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
    }
}

.hero__media {
    margin-top: 5px;
}

@media(min-width: 640px) {
    .hero__wrapper {
        display: grid;
        grid-template-areas:
            "title btn"
            "text text";
        grid-template-columns: 90% 10%;
        max-width: 600px;
    }

    .hero__title {
        font-size: 48px;
        max-width: 600px;
        grid-area: title;
    }

    .btn-video__wrapper {
        grid-area: btn;
    }

    .btn-video {
        display: inline-block;
        width: 135px;
        height: 45px;
        margin-top: 71px;
        margin-left: -115px;
    }

    .hero__text {
        max-width: 557px;
        grid-area: text;
    }

    .hero__btns {
        margin-top: 10px;
        height: auto;

        &::before {
            z-index: -1;
            top: unset;
            transform: unset;
            bottom: 20px;
            width: 99%;
        }

        &::after {
            z-index: 0;
            top: unset;
            transform: unset;
            bottom: 13px;
        }
    }

    .hero__btns-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        gap: 10px;
    }

    .hero__media {
        margin-top: 20px;
        position: relative;
    }

    .hero__img {
        height: 360px;
    }

    .btn-tg {
        width: 100px;
        height: 100px;
        padding: 0;
        border-radius: 50%;
        border: unset;
        margin: 0;
        position: absolute;
        right: 20px;
        bottom: 20px;

        &:hover {
            .btn-tg__icon {
                fill: var(--accent);
            }
        }
    }

    .btn-tg__icon {
        display: block;
        width: 50px;
        height: 50px;
        fill: var(--black);
        transition: fill 0.3s ease-in-out;
    }

    .btn-tg__text {
        display: none;
    }

    .btn-category {
        position: relative;
        display: inline-flex;
        font-family: Vasek;
        font-size: 46px;
        padding: 1px 26px 1px 49px;
        justify-content: center;
        box-shadow: 4px 4px 8px 0px rgba(189, 188, 237, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.80);
        background-color: var(--bg);
        border-radius: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 26px;
            top: 50%;
            transform: translateY(-50%);
            width: 23px;
            height: 23px;
            background-image: url('../../img/icons/hashtag.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .ticker {
        position: relative;
        display: block;
        margin-top: 44px;
        overflow: hidden;
    }

    .ticker__wrapper {
        display: flex;
        align-items: center;
    }

    .ticker__item {
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        flex-shrink: 0;
        white-space: nowrap;
        position: relative;
        padding: 0 40px;
        animation: ticker 5s infinite linear reverse;

        &::after {
            content: '';
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-image: url(../../img/icons/star.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @keyframes ticker {
        0% {
            transform: translateZ(0);
        }

        100% {
            transform: translate3d(-100%, 0, 0);
        }
    }
}

@media(min-width: 1600px) {
    .hero {
        margin-top: 30px;
    }

    .hero__wrapper {
        max-width: 1500px;
        grid-template-areas:
            "title btn"
            "title text";
        grid-template-columns: 70% 30%;
    }

    .hero__title {
        font-size: 98px;
        max-width: unset;
    }

    .btn-video__wrapper {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        // position: relative;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     left: 50%;
        //     bottom: -8px;
        //     width: 85px;
        //     height: 15px;
        //     background-image: url("../../img/icons/shine.svg");
        //     background-position: center center;
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     transform: translateX(-50%);
        //     cursor: default;
        // }
    }

    .shine {
        display: block;
    }

    .btn-video {
        margin: 28px 0 0 -2px;
        width: 210px;
        height: 70px;
    }

    .hero__text {
        width: 557px;
        margin-top: -5px;
        margin-left: -173px;
        line-height: 22px;
    }

    .waves {
        animation: waves infinite 3s ease-in-out alternate;
    }

    @keyframes waves {
        0% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(-30px);
        }
    }

    .shine__path:nth-child(1) {
        animation: shine-1 8s infinite ease-in-out;
    }

    .shine__path:nth-child(2) {
        animation: shine-2 8s infinite ease-in-out;
    }

    .shine__path:nth-child(3) {
        animation: shine-3 8s infinite ease-in-out;
    }

    @keyframes shine-1 {
        0% {
            fill: var(--light);
        }

        25% {
            fill: var(--accent);
        }

        50% {
            fill: var(--light);
        }
    }

    @keyframes shine-2 {
        25% {
            fill: var(--light);
        }

        50% {
            fill: var(--accent);
        }

        75% {
            fill: var(--light);
        }
    }

    @keyframes shine-3 {
        50% {
            fill: var(--light);
        }

        75% {
            fill: var(--accent);
        }

        100% {
            fill: var(--light);
        }
    }

    .hero__btns {
        max-width: 1435px;
    }

    .hero__img {
        height: 545px;
    }

    .btn-tg {
        right: 60px;
        bottom: 82px;
    }

    .ticker {
        margin-top: 50px;
    }

    .ticker__item {
        font-size: 40px;
    }
}