.accordion {
    padding: 10px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    display: grid;
    grid-template-areas:
        'title'
        'content'
        'img'
        'btn'
    ;
    position: relative;
    font-size: 16px;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    &+& {
        border-top: transparent;
    }

    &.active {
        &::before {
            animation: accordion 0.6s ease;
        }

        .accordion__hide {
            display: block;
        }

        .accordion__hide.btn {
            display: flex;
        }

        .accordion__title {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@keyframes accordion {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
    }
}

.accordion__hide {
    display: none;
}

.accordion__title {
    max-width: 78%;
    font-weight: 500;
    line-height: 19px;
    grid-area: title;
}

.accordion__date {
    margin-bottom: 10px;
    color: var(--dark);
}

.accordion__text {
    display: grid;
    gap: 5px;
}

.accordion__text-item span {
    color: var(--dark);
}

.accordion__img {
    margin: 10px 0 0 0;
    width: 300px;
    height: 305px;
    grid-area: img;
}

.accordion__content {
    margin-top: 10px;
    grid-area: content;
}

.accordion__btn {
    max-width: 300px;
    grid-area: btn;
}

.accordion__open {
    position: absolute;
    width: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

@media (min-width:640px) {
    .accordion {
        padding: 26px 0;

        &.active {
            grid-template-areas:
                'img title'
                'img content'
                'img btn';
            grid-column-gap: 20px;
            grid-template-columns: max-content;
            padding: 20px 0;

            .accordion__open {
                top: 20px;
                transform: unset;
            }

            .accordion__btn-path {
                transform: rotate(90deg);
            }
        }
    }

    .accordion__title {
        font-size: 20px;
        line-height: 24px;
    }

    .accordion__open {
        visibility: visible;
        width: 30px;
        height: 30px;
    }

    .accordion__open-icon {
        fill: transparent;
        stroke: var(--border);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .accordion__img {
        margin: 0;
        width: 289px;
        height: 305px;
    }

    .accordion__date {
        line-height: 19px;
    }

    .accordion__text-item {
        line-height: 22px;
    }

    .accordion__btn {
        max-width: 203px;
    }

    .accordion__btn-path {
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }
}

@media (min-width: 1600px) {
    .section__content {
        counter-reset: accordion;
    }

    .accordion {
        padding-left: 385px;
        counter-increment: accordion;

        &::after {
            content: counter(accordion, decimal-leading-zero);
            position: absolute;
            left: 0;
            top: 20px;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
        }

        &.active {
            padding-left: 76px;
        }
    }
}