//- НАЧАЛО О НАС
section.section.about 
    .section__wrapper.wrapper
        .section__title 
            h2.title О нас
        .section__content
            h3.subtitle Миссия нашей команды - собрать лучшие макеты, которые будут полезны верстальщикам и дизайнерам
            .about__text.text.text--light <p>Мы собираем коллекцию бесценного материала, который в легком доступе для каждого из вас. С нашими макетами ваш процесс обучения будет не только полезным, но и приятным.  Сверстав макет из нашей коллекции, вы сможете дополнить свое портфолио уникальными проектами.</p>
            .about__wrapper 
                .about__item 
                    span.about__value 200+
                    span.about__desc Собранных макетов
                .about__item 
                    span.about__value 9000
                    span.about__desc Подписчиков в Telegram
                .about__item 
                    span.about__value 20
                    span.about__desc Проведенных конкурсов
//- КОНЕЦ О НАС