//- НАЧАЛО Категории макетов
section.section.categories 
    .section__wrapper 
        .wrapper 
            .section__title
                h2.title Категории макетов
        .section__content.categories__content                                 
            .swiper.categories__swiper.scroll  
                .swiper-wrapper.categories__swiper-wrapper.scroll__inner
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-1.jpg", alt="одностраничные")
                            h3.categories__swiper-title одностраничные
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-2.jpg", alt="многостраничные")
                            h3.categories__swiper-title многостраничные
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-3.jpg", alt="магазины")
                            h3.categories__swiper-title магазины
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-1.jpg", alt="одностраничные")
                            h3.categories__swiper-title одностраничные
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-2.jpg", alt="многостраничные")
                            h3.categories__swiper-title многостраничные
                    .swiper-slide.categories__swiper-slide 
                        a(href="").categories__swiper-link.img.img--cover 
                            img(src="@img/categories/categories-3.jpg", alt="магазины")
                            h3.categories__swiper-title магазины
                .categories__swiper-btns.display-none    
                    button.categories__swiper-btn.categories__swiper-prev.img.img--cover
                         svg.categories__swiper-btns-icon
                            use(xlink:href="@img/sprite.svg#swiperArrow")
                    button.categories__swiper-btn.categories__swiper-next.img.img--cover
                        svg.categories__swiper-btns-icon
                            use(xlink:href="@img/sprite.svg#swiperArrow")
//- КОНЕЦ Категории макетов