//- НАЧАЛО САМОЕ ПОПУЛЯРНОЕ
section.section.popular 
    .section__wrapper.wrapper 
        .section__title
            h2.title Самое популярное
        .section__content                                 
            article.accordion
                .accordion__img.img.img--cover.accordion__hide     
                    img(src="@img/popular/popular-1.jpg" alt="Макет лендинга для системы блокчейн") 
                h4.accordion__title Макет лендинга для системы блокчейн
                .accordion__content.accordion__hide
                    p.accordion__date 29 мая 2023 г.
                    .accordion__text 
                        p.accordion__text-item <span>Уровень сложности:</span> Сложный 
                        p.accordion__text-item <span>Тип:</span> Многостраничный сайт
                        p.accordion__text-item <span>Адаптивность:</span> Адаптивный
                        p.accordion__text-item <span>Язык:</span> EN
                        p.accordion__text-item <span>Цветовая тема:</span> черная
                        p.accordion__text-item <span>Цена макета:</span> ~18000-21000 &#8381;
                a.btn.accordion__btn(href="#").accordion__hide
                    span.btn__text открыть 
                button.accordion__open 
                    <svg class="accordion__open-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" transform="matrix(-1 0 0 1 30 0.000610352)"/>
                        <path d="M6 15.0006H24" stroke-linecap="round"/>
                        <path class="accordion__btn-path" d="M15 24.0006L15 6.00061" stroke-linecap="round"/>
                    </svg>
            article.accordion
                .accordion__img.img.img--cover.accordion__hide     
                    img(src="@img/popular/popular-1.jpg" alt="Макет лендинга для системы блокчейн") 
                h4.accordion__title Макет лендинга для системы блокчейн
                .accordion__content.accordion__hide
                    p.accordion__date 29 мая 2023 г.
                    .accordion__text 
                        p.accordion__text-item <span>Уровень сложности:</span> Сложный 
                        p.accordion__text-item <span>Тип:</span> Многостраничный сайт
                        p.accordion__text-item <span>Адаптивность:</span> Адаптивный
                        p.accordion__text-item <span>Язык:</span> EN
                        p.accordion__text-item <span>Цветовая тема:</span> черная
                        p.accordion__text-item <span>Цена макета:</span> ~18000-21000 &#8381;
                a.btn.accordion__btn(href="#").accordion__hide
                    span.btn__text открыть 
                button.accordion__open 
                    <svg class="accordion__open-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" transform="matrix(-1 0 0 1 30 0.000610352)"/>
                        <path d="M6 15.0006H24" stroke-linecap="round"/>
                        <path class="accordion__btn-path" d="M15 24.0006L15 6.00061" stroke-linecap="round"/>
                    </svg>
//- КОНЕЦ САМОЕ ПОПУЛЯРНОЕ