.ticker.display-none 
            .ticker__wrapper 
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов
                span.ticker__item ИЗБРАННАЯ коллекцИя макетов