extends html/layout

block variables
    - var title = 'СБОРНИК ЛУЧШИХ МАКЕТОВ FIGMA'

block content
    main 
        include html/blocks/main
        
        include html/blocks/about

        include html/blocks/popular

