doctype html
html(lang="ru") 
    
    - var title = 'СБОРНИК ЛУЧШИХ МАКЕТОВ FIGMA'
    include html/head.pug
    body 
        include html/header
        
        include html/footer
        script(src='js/app.min.js')